@import "tailwindcss";

:root {
  --color-bg: #F8F8FB;
  --color-surface: #FFFFFF;

  --color-text: #0C0E16;
  --color-text-muted: #888EB0;

  --color-primary: #7C5DFA;
  --color-primary-hover: #9277FF;

  --color-danger: #EC5757;

  --color-border: #DFE3FA;
}

.dark {
  --color-bg: #141625;
  --color-surface: #1E2139;
  --color-text: #FFFFFF;
  --color-text-muted: #DFE3FA;

  --color-border: #252945;
}

@theme inline {
  --color-background: var(--color-bg);
  --color-foreground: var(--color-text);
  --color-primary: var(--color-primary);

  --font-sans: 'League Spartan', sans-serif;
}

@layer utilities {
  .bg-app { background-color: var(--color-bg); }
  .bg-surface { background-color: var(--color-surface); }
  .bg-primary { background-color: var(--color-primary); }

  .text-base { color: var(--color-text); }
  .text-muted { color: var(--color-text-muted); }

  .border-default { border-color: var(--color-border); }

  .bg-danger { background-color: var(--color-danger); }
}

body {
  background: var(--color-danger);
  color: var(--color-text);
  font-family: var(--font-sans);
}